<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center text-dark">Account erstellen</h4>
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="needs-validation" novalidate>
        <!-- Vorname -->
        <div [class.was-validated]="registerForm.controls['firstName'].touched" class="mb-3 input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-person-fill"></i> </span>
          <input class="form-control" formControlName="firstName" placeholder="Vorname" required type="text">
          <div *ngIf="registerForm.controls['firstName']?.invalid" class="valid-feedback was-validated">Gültiger
            Vorname.
          </div>
          <div *ngIf="registerForm.controls['firstName']?.invalid" class="invalid-feedback was-validated">Vorname wird
            erwarted.
          </div>
        </div>
        <!-- Nachname -->
        <div [class.was-validated]="registerForm.controls['lastName'].touched" class="mb-3 input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-person-fill"></i> </span>
          <input class="form-control" formControlName="lastName" placeholder="Nachname" required type="text">
          <div *ngIf="registerForm.controls['lastName']?.invalid" class="valid-feedback was-validated">Gültiger
            Nachname.
          </div>
          <div *ngIf="registerForm.controls['lastName']?.invalid" class="invalid-feedback was-validated">Nachname wird
            erwarted.
          </div>
        </div>
        <!-- Email -->
        <div [class.was-validated]="registerForm.controls['email'].touched" class="mb-3 input-group">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-envelope-fill"></i> </span>
          <input class="form-control" formControlName="email" placeholder="Email-Addresse" required type="email">
          <div *ngIf="registerForm.controls['email']?.invalid" class="valid-feedback was-validated">Gültige
            Emailadresse.
          </div>
          <div *ngIf="registerForm.controls['email']?.invalid" class="invalid-feedback was-validated">Bitte eine gültige
            Email angeben.
          </div>
        </div>
        <!-- Adresse -->
        <div class="form-group">
          <div [class.was-validated]="registerForm.controls['street'].touched" class="mb-3 input-group">
            <span class="input-group-text" id="basic-addon1"> <i class="bi bi-person-lines-fill"></i> </span>
            <input class="form-control" formControlName="street" name="" placeholder="Strasse" required type="text">
            <div *ngIf="registerForm.controls['street']?.invalid" class="valid-feedback was-validated">OK.</div>
            <div *ngIf="registerForm.controls['street']?.invalid" class="invalid-feedback was-validated">Pflichtfeld.
            </div>
          </div>

          <div [class.was-validated]="registerForm.controls['houseNum'].touched" class="mb-3 input-group">
            <span class="input-group-text" id="basic-addon1"> <i class="bi bi-person-lines-fill"></i> </span>
            <input class="form-control" formControlName="houseNum" placeholder="Hausnummer" required type="text">
            <div *ngIf="registerForm.controls['houseNum']?.invalid" class="valid-feedback was-validated">OK.</div>
            <div *ngIf="registerForm.controls['houseNum']?.invalid" class="invalid-feedback was-validated">
              Pflichtfeld.
            </div>
          </div>

          <div [class.was-validated]="registerForm.controls['postCode'].touched" class="mb-3 input-group">
            <span class="input-group-text" id="basic-addon1"> <i class="bi bi-person-lines-fill"></i> </span>
            <input class="form-control" formControlName="postCode" name="" placeholder="Postleitzahl" required
                   type="text">
            <div *ngIf="registerForm.controls['postCode']?.invalid" class="valid-feedback was-validated">OK.</div>
            <div *ngIf="registerForm.controls['postCode']?.invalid" class="invalid-feedback was-validated">
              Pflichtfeld.
            </div>
          </div>

          <div [class.was-validated]="registerForm.controls['city'].touched" class="mb-3 input-group">
            <span class="input-group-text" id="basic-addon1"> <i class="bi bi-person-lines-fill"></i> </span>
            <input class="form-control" formControlName="city" name="" placeholder="Stadt" required type="text">
            <div *ngIf="registerForm.controls['city']?.invalid" class="valid-feedback was-validated">OK.</div>
            <div *ngIf="registerForm.controls['city']?.invalid" class="invalid-feedback was-validated">Pflichtfeld.
            </div>
          </div>

          <div [class.was-validated]="registerForm.controls['country'].touched" class="mb-3 input-group">
            <span class="input-group-text" id="basic-addon1"> <i class="bi bi-person-lines-fill"></i> </span>
            <input class="form-control" formControlName="country" name="" placeholder="Land" required type="text">
            <div *ngIf="registerForm.controls['country']?.invalid" class="valid-feedback was-validated">OK.</div>
            <div *ngIf="registerForm.controls['country']?.invalid" class="invalid-feedback was-validated">Pflichtfeld.
            </div>
          </div>
        </div>
        <!-- Passwort -->
        <div [class.was-validated]="registerForm.controls['password'].touched" class="mb-3 input-group">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-lock-fill"></i> </span>
          <input class="form-control" formControlName="password" placeholder="Passwort erstellen" required
                 type="password">
          <div *ngIf="registerForm.controls['password']?.invalid" class="valid-feedback was-validated">Gültiges
            Passwort.
          </div>
          <div *ngIf="registerForm.controls['password']?.invalid" class="invalid-feedback was-validated">Bitte ein
            gültiges Passwort angeben.
          </div>
        </div>
        <div [class.was-validated]="registerForm.controls['confirmPassword'].touched" class="mb-3 input-group">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-lock-fill"></i> </span>
          <input class="form-control" formControlName="confirmPassword" placeholder="Passwort bestätigen"
                 required type="password">
          <div *ngIf="registerForm.controls['confirmPassword']?.invalid" class="valid-feedback was-validated">Passwörter
            stimmen überein.
          </div>
          <div *ngIf="registerForm.controls['confirmPassword']?.invalid" class="invalid-feedback was-validated">
            Passwörter stimmen nicht überein.
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary btn-block" type="submit"> Create Account</button>
        </div>
        <p class="text-center text-dark">Haben Sie sich bereits registriert? <a href="login">Log In</a></p>
      </form>
    </article>
  </div> <!-- card.// -->

</div>
<!--container end.//-->

