<div class="container mt-2 p-4">
    <div class="card border-secondary bg-dark mx-auto col-lg-8">
        <img src="api/img/{{product?.image_id}}" class="card-img-top" alt="...">
        <div class="card-body bg-dark text-white p-4">
          <div class="card-title row justify-content-between">
            <h3 class="col me-auto">{{product?.name}}</h3>

            <h5 class="col text-end text-primary">{{product?.prize}} €/std.</h5>
          </div>
          <h6 class="col"> <app-category-badge [category]="product?.category"></app-category-badge></h6>
          <h6 class="card-subtitle mb-4 text-secondary">{{product?.user?.firstName}} {{product?.user?.lastName}}</h6>

          <h5>Dauer</h5>
          <p class="text-success"> {{getDurString()}}</p>
          <h5>Beschreibung</h5>
          <p class="text-light">{{product?.description}}</p>

          <h5>Termine</h5>
          <div class="row row-cols-3" role="group">
            <div class="col mb-2 d-grid"  *ngFor="let a of product?.appointments; let i = index" >
                  <button class="btn btn-primary" [ngClass]="{'disabled':a.isReserved, 'btn-secondary':a.isReserved}" [routerLink]="user ? ['order-product',i] : ['/login']"> {{getAppointString(a?.date)}} </button>
            </div>
              <!-- <ng-template #elseBlock> Please log in to place an Order </ng-template> -->
          </div>
          <div *ngIf="authService.isLogedIn() && (user?.email === product?.user?.email && user?.email !== undefined) || user?.role === 'admin'" class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button"  class="btn btn-success"  [routerLink]="['/add-product',product?._id]"><i class="bi bi-pencil-square"></i></button>
                <button type="button"  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-trash-fill"></i></button>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-black" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Produkt löschen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Möchten Sie das Produkt wirklich löschen?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <button type="button" (click)="deleteProduct()" data-bs-dismiss="modal" class="btn btn-danger">Löschen</button>
      </div>
    </div>
  </div>
</div>



