<div class="container">
  <div class="bg-dark text-white">
    <article class="card-body mx-auto col-lg-6" >
      <h4 class="card-title mt-3 text-center text-white">{{productId ? 'Produkt bearbeiten' :'Produkt hinzufügen'}}</h4>
      <form (ngSubmit)="onSubmit()" [formGroup]="addProductForm" class="needs-validation" novalidate>
        <!--Produktname-->
        <div [class.was-validated]="addProductForm.controls['productName'].touched"
             class="mb-3 input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-tag-fill"></i></span>
          <input class="form-control" formControlName="productName" placeholder="Produktname" required type="text">
          <div *ngIf="!addProductForm.controls['productName']?.invalid" class="valid-feedback was-validated">Gültiger
            Produktname.
          </div>
          <div *ngIf="addProductForm.controls['productName']?.invalid" class="invalid-feedback was-validated">
            Produktname wird erwartet.
          </div>
        </div>
        <!--Preis-->
        <div class="mb-3 input-group has-validation" [class.was-validated]="addProductForm.controls['prize'].touched">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-briefcase-fill"></i></span>
          <input class="form-control" formControlName="prize" placeholder="Preis" required type="text">
          <span class="input-group-text"> <i class="bi bi-currency-euro"></i>/std</span>
          <div *ngIf="!addProductForm.controls['prize']?.invalid" class="valid-feedback was-validated">Gültiger Preis.
          </div>
          <div *ngIf="addProductForm.controls['prize']?.invalid" class="invalid-feedback was-validated">Preis wird
            erwartet.
          </div>
        </div>
        <!--Beschreibung-->
        <div [class.was-validated]="addProductForm.controls['description'].touched"
             class="mb-3 input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-file-earmark-text-fill"></i> </span>
          <textarea class="form-control" formControlName="description" placeholder="Beschreibung" required rows="3"
                    type="text"></textarea>
          <div *ngIf="!addProductForm.controls['description']?.invalid" class="valid-feedback was-validated">Gültige
            Beschreibung.
          </div>
          <div *ngIf="addProductForm.controls['description']?.invalid" class="invalid-feedback was-validated">
            Beschreibung wird erwartet.
          </div>
        </div>
        <label for="durationInput" class="form-label">Dauer</label>
        <div
          [class.was-validated]="addProductForm.controls['durationHour'].touched ||addProductForm.controls['durationMinute'].touched"
          class="input-group mb-3 has-validation"
          id="durationInput">
          <span class="input-group-text"><i class="bi bi-clock-fill"></i> </span>
          <input aria-label="Stunden" class="form-control" formControlName="durationHour" placeholder="Stunden"
                 required type="text">
          <span class="input-group-text">std.</span>
          <input aria-label="Minuten" class="form-control" formControlName="durationMinute" placeholder="Minuten"
                 required type="text">
          <span class="input-group-text">min.</span>
          <div
            *ngIf="!addProductForm.controls['durationHour']?.invalid && !addProductForm.controls['durationMinute']?.invalid"
            class="valid-feedback was-validated">Gültige Dauer
          </div>
          <div
            *ngIf="addProductForm.controls['durationHour']?.invalid || addProductForm.controls['durationMinute']?.invalid"
            class="invalid-feedback was-validated">Für Stunden und Mintuen werden Zahlen erwartet
          </div>
        </div>
        <div class="row">
           <label for="durationInput" class="form-label">Zeit Auswählen</label>
          <!-- Add Appointment -->
          <form class="row row-cols-sm-auto" [formGroup]="productForm" novalidate>
            <div class="col-12">
              <div class="dp-hidden position-absolute">
                <div class="input-group">
                  <input #datepicker="ngbDatepicker"
                         (dateSelect)="onDateSelection($event)"
                         [autoClose]="'outside'"
                         [dayTemplate]="t"
                         [displayMonths]="2"
                         [footerTemplate]="footerTemplate"
                         [markDisabled]="isDisabled"
                         [startDate]="fromDate!"
                         class="form-control"
                         name="datepicker"
                         ngbDatepicker
                         outsideDays="hidden"
                         tabindex="-1">
                  <ng-template #t let-date let-focused="focused">
                    <span (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null"
                          [class.disabled]="isDisabled(date)"
                          [class.faded]="isHovered(date) || isInside(date) && !isDisabled(date)"
                          [class.focused]="focused"
                          [class.range]="isRange(date) && !isDisabled(date)"
                          class="custom-day">
                      {{ date.day }}
                    </span>
                  </ng-template>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <div class="m-2">
                      <div><small>Aktive Wochentage:</small></div>
                      <div class="btn-group">
                        <ng-template [ngForOf]="weekdays" let-day let-i="index" ngFor>
                          <input (click)="toggleWeekday(i + 1)" [checked]="!disabledWeekdays.includes(i + 1)" autocomplete="off"
                                 class="btn-check" id="btncheck{{i}}" type="checkbox">
                          <label class="btn btn-outline-primary custom-day" for="btncheck{{i}}">{{ day }}</label>
                        </ng-template>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="input-group form-group has-validation"
                   [class.was-validated]="productForm.touched">
                <input #dpFromDate
                       (input)="setFromDate(fromDate, dpFromDate.value)" [value]="formatter.format(fromDate)"
                       class="form-control"
                       name="dpFromDate"
                       placeholder="yyyy-mm-dd"
                       formControlName="fromDateControl">
                <button (click)="datepicker.toggle()" class="btn btn-outline-secondary bi-calendar-range" type="button"></button>
              </div>
            </div>
            <div class="col-12">
              <div class="input-group form-group has-validation"
                   [class.was-validated]="productForm.touched">
                <input #dpToDate
                       (input)="setToDate(toDate, dpToDate.value)" [value]="formatter.format(toDate)"
                       class="form-control"
                       name="dpToDate"
                       placeholder="yyyy-mm-dd"
                       formControlName="toDateControl">
                <button (click)="datepicker.toggle()" class="btn btn-outline-secondary bi-calendar-range" type="button"></button>
              </div>
            </div>
            <!--<pre class="col-12">From date: {{fromDate | json}}</pre>
            <pre class="col-12">To date: {{toDate | json}}</pre> -->
          </form>
          <div class="d-flex mb-2 has-validation">
            <label for="appointmentInputs" class="form-label">Nicht verfügbare Termine</label>
            <button class="ms-auto btn btn-success" (click)="addAppointment()" type="button">+</button>
          </div>
          <div *ngFor="let name of appointmentIndexs;let index = index" class="mb-3"
             id="durationInput">
          <div class="input-group has-validation" id="date selector">
            <span class="input-group-text">{{index + 1}}.</span>
            <input aria-label="Username" formControlName="{{name}}date" class="form-control"
                   placeholder="Suche eine Termin aus" required type="date">
            <label>Von</label>
            <ngb-timepicker formControlName="{{name}}start"></ngb-timepicker>
            <label>Bis</label>
            <ngb-timepicker formControlName="{{name}}end"></ngb-timepicker>
            <button (click)="removeAppointment(name)" class="btn btn-danger" type="button">-</button>

          </div>
          </div>

        </div>
        <!-- Bild hinzufügen -->
        <label for="appointmentInputs" class="form-label">Product Bild</label>
        <div class="form-group input-group mb-3">
          <input #imageInput (change)="uploadImage(imageInput)" class="form-control" id="inputGroupFile02" type="file">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <span *ngIF="isChecked && !imageId" class="text-danger">Es muss ein Bild hochgeladen werden</span>

        <!-- Bild anzeigen -->
        <figure *ngIf="imageId" class="figure">
          <img src="/api/img/{{imageId}}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">Product Bild</figcaption>
        </figure>


        <!--Produkt hinzufügen-->
        <div class="d-grid mt-4">
          <button (click)="onSubmit()" class="btn btn-primary btn-block" type="submit">{{productId ? 'Speichern' : 'Hinzufügen'}}
            <div *ngIf="uploading" class="spinner-border text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>


        </div>
      </form>

    </article>
  </div>
</div>
