<div class="container">
    <div class="bg-dark text-white">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center text-white">Produkt hinzufügen</h4>
      <form [formGroup]="addProductForm"  (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <!--Produktname-->
        <div class="mb-3 input-group has-validation" [class.was-validated]="addProductForm.controls['productName'].touched">
            <span class="input-group-text" id="basic-addon1"> <i class="bi bi-tag-fill"></i></span>
            <input class="form-control" placeholder="Produktname" formControlName="productName" type="text" required>
            <div *ngIf="!addProductForm.controls['productName']?.invalid" class="valid-feedback was-validated">Gültiger Produktname.</div>
            <div *ngIf="addProductForm.controls['productName']?.invalid" class="invalid-feedback was-validated">Produktname wird erwartet.</div>
          </div>
        <!--Preis-->
        <div class="mb-3 input-group has-validation" [class.was-validated]="addProductForm.controls['prize'].touched">
            <span class="input-group-text" id="basic-addon1"> <i class="bi bi-briefcase-fill"></i></span>
            <input class="form-control" placeholder="Preis" formControlName="prize" type="text" required>
            <span class="input-group-text"> <i class="bi bi-currency-euro"></i>/std</span>
            <div *ngIf="!addProductForm.controls['prize']?.invalid" class="valid-feedback was-validated">Gültiger Preis.</div>
            <div *ngIf="addProductForm.controls['prize']?.invalid" class="invalid-feedback was-validated">Preis wird erwartet.</div>
          </div>
        <!--Beschreibung-->
        <div class="mb-3 input-group has-validation" [class.was-validated]="addProductForm.controls['description'].touched">
            <span class="input-group-text" id="basic-addon1"> <i class="bi bi-file-earmark-text-fill"></i> </span>
            <textarea class="form-control" placeholder="Beschreibung" formControlName="description" type="text" rows="3" required></textarea>
            <div *ngIf="!addProductForm.controls['description']?.invalid" class="valid-feedback was-validated">Gültige Beschreibung.</div>
            <div *ngIf="addProductForm.controls['description']?.invalid" class="invalid-feedback was-validated">Beschreibung wird erwartet.</div>
        </div>
        <label for="durationInput" class="form-label">Dauer</label>
        <div class="input-group mb-3 has-validation" [class.was-validated]="addProductForm.controls['durationHour'].touched ||addProductForm.controls['durationMinute'].touched" id="durationInput">
            <span class="input-group-text"><i class="bi bi-clock-fill"></i> </span>
            <input type="text"  class="form-control" formControlName="durationHour" placeholder="Stunden" aria-label="Stunden" required>
            <span class="input-group-text">std.</span>
            <input type="text" class="form-control" placeholder="Minuten" formControlName="durationMinute" aria-label="Minuten" required>
            <span class="input-group-text">min.</span>
            <div *ngIf="!addProductForm.controls['durationHour']?.invalid && !addProductForm.controls['durationMinute']?.invalid" class="valid-feedback was-validated">Gültige Dauer</div>
            <div *ngIf="addProductForm.controls['durationHour']?.invalid || addProductForm.controls['durationMinute']?.invalid" class="invalid-feedback was-validated">Für Stunden und Mintuen werden Zahlen erwartet</div>
        </div>
        <div class="row">
            <!-- Add Appointment -->
          <div class="d-flex mb-2 has-validation">
              <label for="appointmentInputs" class="form-label">Termine</label>
              <button class="ms-auto btn btn-success" (click)="addAppointment()">+</button>
          </div>
          <div *ngFor="let name of appointmentIndexs;let index = index" class="mb-3" id="durationInput" [class.was-validated]="addProductForm.controls[name].touched">
              <div  id="date selector"class="input-group has-validation">
                <span class="input-group-text">{{index+1}}.</span>
                <input type="datetime-local" formControlName="{{name}}" class="form-control" placeholder="Suche eine Termin aus" aria-label="Username" required>
                <button type="button" class="btn btn-danger" (click)="removeAppointment(name)" >-</button>
                <div *ngIf="!addProductForm.controls[name]?.invalid" class="valid-feedback was-validated">Gültiger Termin</div>
                <div *ngIf="addProductForm.controls[name]?.invalid" class="invalid-feedback was-validated">Termin erwartet</div>
              </div>
          </div>
          <p *ngIf="appointmentIndexs.length <= 0" class="text-danger fs-6">Es muss mindestens einen Termin geben</p>
        </div>
        <!-- Bild hinzufügen -->
        <label for="appointmentInputs" class="form-label">Product Bild</label>
        <div class="form-group input-group mb-3">
          <input #imageInput  type="file" class="form-control" id="inputGroupFile02" (change)="uploadImage(imageInput)">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <span *ngIF="isChecked && !imageId"class="text-danger">Es muss ein Bild hochgeladen werden</span>

        <!-- Bild anzeigen -->
        <figure *ngIf="imageId" class="figure">
          <img src="/api/img/{{imageId}}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">Product Bild</figcaption>
        </figure>



        <!--Produkt hinzufügen-->
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()"> Add Product
              <div *ngIf="uploading" class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>


          </div>
        </form>

    </article>
    </div>
</div>
