<div class="container">
  <div class="bg-dark text-white">
    <article class="card-body row gy-3">
      <h4
        class="card-title mt-3 text-center text-white">{{productId ? 'Produkt bearbeiten' : 'Produkt hinzufügen'}}</h4>
      <form (ngSubmit)="onSubmit()" [formGroup]="addProductForm" class="needs-validation col" novalidate>

        <!--Produktname-->
        <div [class.was-validated]="addProductForm.controls['productName'].touched"
             class="input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-tag-fill"></i> </span>
          <input class="form-control" formControlName="productName" placeholder="Produktname" required type="text">
          <div *ngIf="!addProductForm.controls['productName']?.invalid" class="valid-feedback was-validated">Gültiger
            Produktname.
          </div>
          <div *ngIf="addProductForm.controls['productName']?.invalid" class="invalid-feedback was-validated">
            Produktname wird erwartet.
          </div>
        </div>

        <!--Preis-->
        <div [class.was-validated]="addProductForm.controls['prize'].touched" class="col input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-briefcase-fill"></i></span>
          <input class="form-control" formControlName="prize" placeholder="Preis" required type="text">
          <span class="input-group-text"> <i class="bi bi-currency-euro"></i>/std</span>
          <div *ngIf="!addProductForm.controls['prize']?.invalid" class="valid-feedback was-validated">Gültiger Preis.
          </div>
          <div *ngIf="addProductForm.controls['prize']?.invalid" class="invalid-feedback was-validated">Preis wird
            erwartet.
          </div>
        </div>

        <!--Beschreibung-->
        <div [class.was-validated]="addProductForm.controls['description'].touched"
             class="col input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-file-earmark-text-fill"></i> </span>
          <textarea class="form-control" formControlName="description" placeholder="Beschreibung" required rows="3"
                    type="text"></textarea>
          <div *ngIf="!addProductForm.controls['description']?.invalid" class="valid-feedback was-validated">Gültige
            Beschreibung.
          </div>
          <div *ngIf="addProductForm.controls['description']?.invalid" class="invalid-feedback was-validated">
            Beschreibung wird erwartet.
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="durationInput">Dauer</label>
          <div
            [class.was-validated]="addProductForm.controls['durationHour'].touched ||addProductForm.controls['durationMinute'].touched"
            class="input-group mb-3 has-validation col-auto"
            id="durationInput">
            <span class="input-group-text"><i class="bi bi-clock-fill"></i> </span>
            <input aria-label="Stunden" class="form-control" formControlName="durationHour" placeholder="Stunden"
                   required type="text">
            <span class="input-group-text">std.</span>
            <input aria-label="Minuten" class="form-control" formControlName="durationMinute" placeholder="Minuten"
                   required type="text">
            <span class="input-group-text">min.</span>
            <div
              *ngIf="!addProductForm.controls['durationHour']?.invalid && !addProductForm.controls['durationMinute']?.invalid"
              class="valid-feedback was-validated">Gültige Dauer
            </div>
            <div
              *ngIf="addProductForm.controls['durationHour']?.invalid || addProductForm.controls['durationMinute']?.invalid"
              class="invalid-feedback was-validated">Für Stunden und Mintuen werden Zahlen erwartet
            </div>
          </div>
        </div>

        <div class="col">
          <label class="form-label" for="availabilityInput">Zeit Auswählen</label>
          <!-- Add Appointment -->
          <form (ngSubmit)="addAvailability()" [formGroup]="availabilityGroup" class="row is-invalid has-validation"
                novalidate id="availabilityInput">

            <div class="col-4">
              <div class="dp-hidden position-absolute">
                <div class="input-group">
                  <input #datepicker="ngbDatepicker"
                         (dateSelect)="onDateSelection($event)"
                         [autoClose]="'outside'"
                         [dayTemplate]="t"
                         [displayMonths]="2"
                         [footerTemplate]="footerTemplate"
                         [markDisabled]="isDisabledAvailability"
                         [startDate]="fromDate!"
                         class="form-control"
                         name="datepicker"
                         ngbDatepicker
                         outsideDays="hidden"
                         tabindex="-1">
                  <ng-template #t let-date let-focused="focused">
                    <span (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null"
                          [class.disabled]="isDisabledAvailability(date)"
                          [class.faded]="isHovered(date) || isInside(date) && !isDisabledAvailability(date)"
                          [class.focused]="focused"
                          [class.range]="isRange(date) && !isDisabledAvailability(date)"
                          [class.today]="calendar.getToday().equals(date)"
                          class="custom-day">
                      {{ date.day }}
                    </span>
                  </ng-template>
                  <ng-template #footerTemplate>
                    <hr class="my-0">
                    <div class="m-2">
                      <div><small>Aktive Wochentage:</small></div>
                      <div class="btn-group">
                        <ng-template [ngForOf]="weekdays" let-day let-i="index" ngFor>
                          <input (click)="toggleWeekday(i + 1)" [checked]="!disabledWeekdays.includes(i + 1)"
                                 autocomplete="off"
                                 class="btn-check" id="btncheck{{i}}" type="checkbox">
                          <label class="btn btn-outline-primary custom-day" for="btncheck{{i}}">{{ day }}</label>
                        </ng-template>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="input-group form-group">
                <input #dpFromDate
                       (click)="datepicker.toggle()"
                       (change)="updateGroupValidity(availabilityGroup)"
                       (input)="setFromDate(fromDate, dpFromDate.value)"
                       [ngClass]="{
                          'is-valid': !availabilityGroup.invalid && availabilityGroup.touched,
                          'is-invalid': isInvalid(availabilityGroup)
                       }"
                       class="form-control"
                       formControlName="fromDateControl"
                       name="dpFromDate"
                       placeholder="yyyy-mm-dd"
                       aria-describedby="availabilityFeedback">
                <button (click)="datepicker.toggle()" class="btn btn-secondary bi-calendar-range"
                        type="button"></button>
                <div *ngIf="availabilityGroup.errors?.['disabledDate']" class="invalid-feedback">
                  Der gewählte Tag ist deaktiviert.
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="input-group form-group">
                <input #dpToDate
                       (click)="datepicker.toggle()"
                       (input)="setToDate(toDate, dpToDate.value)"
                       (change)="updateGroupValidity(availabilityGroup)"
                       [ngClass]="{
                          'is-valid': !availabilityGroup.invalid && availabilityGroup.touched,
                          'is-invalid': isInvalid(availabilityGroup)
                       }"
                       class="form-control"
                       formControlName="toDateControl"
                       name="dpToDate"
                       placeholder="yyyy-mm-dd"
                       aria-describedby="availabilityFeedback">
                <button (click)="datepicker.toggle()" class="btn btn-secondary bi-calendar-range"
                        type="button"></button>
              </div>
              <div *ngIf="availabilityGroup.errors?.['disabledDate']" class="invalid-feedback">
                Der gewählte Tag ist deaktiviert.
              </div>
            </div>
            <div class="col d-grid justify-content-md-end">
              <button class="btn btn-outline-primary" type="submit">Hinzufügen</button>
            </div>
            <!--<pre class="col-12">From date: {{fromDate | json}}</pre>
            <pre class="col-12">To date: {{toDate | json}}</pre> -->
          </form>

          <!-- Feedback -->
          <div id="availabilityFeedback" class="invalid-feedback is-invalid">
            <div *ngIf="availabilityGroup.errors?.['required']">
              Bitte ein Datum auswählen.
            </div>
            <div *ngIf="availabilityGroup.errors?.['overlapping']">
              Dieser Zeitraum überschneidet sich mit einem bereits vorhandenen.
            </div>
          </div>

          <div class="col-12 table-responsive" [class.dp-hidden]="availabilities.length == 0">
            <table class="table table-dark">
              <thead>
              <tr>
                <th>Von</th>
                <th>Bis</th>
                <th>Wochentage</th>
                <th class="text-end">Aktion</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let availability of availabilities; let i=index">
                <td>{{availability.availability.startDate | date: 'dd.MM.yyyy'}}</td>
                <td>{{availability.availability.endDate | date: 'dd.MM.yyyy'}}</td>
                <td>{{getSelectedWeekdays()}}</td>
                <td class="text-end">
                  <button class="btn btn-outline-danger" (click)="removeAvailability(i)" type="button">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Hindrance selection -->
        <div class="col row align-items-center" [class.is-invalid]="toTimeControl.invalid || fromTimeControl.invalid">
          <label class="form-label col-12" for="hindranceInput">Verhinderte Tage</label>
          <div class="col-4">
            <form class="input-group col-4">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp-hindrance" [(ngModel)]="hindrance"
                     ngbDatepicker
                     #d="ngbDatepicker" (click)="d.toggle()" [markDisabled]="isDisabledHindrance" id="hindranceInput">
              <button class="btn btn-secondary" (click)="d.toggle()" type="button">
                <i class="bi bi-calendar-range"></i>
              </button>
            </form>
          </div>
          <div class="col-auto row align-items-center" [hidden]="wholeDayHindrance">
            <div class="col-auto">Von</div>
            <ngb-timepicker class="col-auto" [formControl]="fromTimeControl"
                            ></ngb-timepicker>
          </div>
          <div class="col-auto row align-items-center" [hidden]="wholeDayHindrance">
            <div class="col-auto">Bis</div>
            <ngb-timepicker id="toHindrance" class="col-auto" [formControl]="toTimeControl"
                             ></ngb-timepicker>
          </div>
          <div class="col-auto form-check">
            <input class="form-check-input" type="checkbox" id="hindranceTimeCheckbox" [checked]="wholeDayHindrance"
                   (change)="toggleHindranceTime()">
            <label class="form-check-label" for="hindranceTimeCheckbox">Ganztägig</label>
          </div>
          <div class="col d-grid justify-content-end">
            <button type="button" class="btn btn-outline-primary" (click)="addHindrance()">Hinzufügen</button>
          </div>
        </div>
        <div class="invalid-feedback">Außerhalb der verfügbaren Zeit</div>

        <!-- Hindrances -->
        <div class="col-12 table-responsive" [class.dp-hidden]="hindrances.length == 0">
          <table class="table table-dark">
            <thead>
            <tr>
              <th>Verhindert</th>
              <th class="text-end">Aktion</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hindrance of hindrances; let i=index">
              <td>{{hindrance.date | date: 'dd.MM.yyyy'}}</td>
              <td class="text-end">
                <button class="btn btn-outline-danger" (click)="removeHinrance(i)" type="button">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Bild hinzufügen -->
        <label for="appointmentInputs" class="form-label">Product Bild</label>
        <div class="form-group input-group mb-3">
          <input #imageInput (change)="uploadImage(imageInput)" class="form-control" id="inputGroupFile02" type="file">
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <span *ngIf="isChecked && !imageId" class="text-danger">Es muss ein Bild hochgeladen werden</span>

        <!-- Bild anzeigen -->
        <figure *ngIf="imageId" class="figure">
          <img src="/api/img/{{imageId}}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">Product Bild</figcaption>
        </figure>


        <!--Produkt hinzufügen-->
        <div class="d-grid mt-4">
          <button class="btn btn-primary btn-block"
                  type="submit">{{productId ? 'Speichern' : 'Hinzufügen'}}
            <div *ngIf="uploading" class="spinner-border text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>


        </div>
      </form>

    </article>
  </div>
</div>
