<div class="container">
  <form (ngSubmit)="createAppointment()" [formGroup]="form" class="input-group row align-items-center">
    <div class="col-auto">
      <form class="input-group">
        <input ngbDatepicker
               #appointDatePicker="ngbDatepicker"
               class="form-control"
               [(ngModel)]="date"
               (click)="appointDatePicker.toggle()"
               [formControl]="dateControl"
               [markDisabled]="markDisabled"
               placeholder="yyyy-mm-dd"
               name="datePicker">
        <button (click)="appointDatePicker.toggle()" class="btn btn-secondary">
          <i class="bi bi-calendar"></i>
        </button>
      </form>
    </div>
    <div class="col row align-items-center">
      <label class="col-auto col-form-label">Uhrzeit:</label>
      <ngb-timepicker class="col-auto" [(ngModel)]="time" [formControl]="timeControl" id="timePicker"></ngb-timepicker>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">
        Termin buchen
      </button>
    </div>
  </form>
</div>
