<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    
                                </th>
                                <th>Bild</th>
                                <th>Bestell #</th>
                                <th>Produktname</th>
                                <th>Company name</th>
                                <th>Preis</th>
                                <th>Kunde</th>
                                <th>Bestelldatum</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr class="cell-1">
                                <td class="text-center">
                                   
                                </td>
                                <td></td>
                                <td>#SO-13487</td>
                                <td>Holzstuhl</td>
                                <td>Bau ich GmbH</td>                                 
                                <td>10€/hr</td>
                                <td>Max Mustermann
                                Musterstraße 1
                                12345 Stadt
                                Deutschland
                                Email</td>
                                <td>01.01.2022</td>
                                <td><span class="btn btn-success">Versandt</span></td>
                            </tr>
                            <tr class="cell-1">
                                <td class="text-center">
                                   
                                </td>
                               <td></td>
                                <td>#SO-13487</td>
                                <td>Holzstuhl</td>
                                <td>Bau ich GmbH</td>                                 
                                <td>10€/hr</td>
                                <td>Max Mustermann
                                Musterstraße 1
                                12345 Stadt
                                Deutschland
                                Email</td>
                                <td>01.01.2022</td>
                                <td><span class="btn btn-warning">In Bearbeitung</span></td>
                            </tr>
                            <tr class="cell-1">
                                <td class="text-center">
                                    
                                </td>
                               <td></td>
                                <td>#SO-13487</td>
                                <td>Holzstuhl</td>
                                <td>Bau ich GmbH</td>                                 
                                <td>10€/hr</td>
                                <td>Max Mustermann
                                Musterstraße 1
                                12345 Stadt
                                Deutschland
                                Email</td>
                                <td>01.01.2022</td>
                                <td><span class="btn btn-danger">Noch nicht bearbeitet</span></td>
                            </tr>
                            <tr class="cell-1">
                                <td class="text-center">
                                  
                                </td>
                               <td></td>
                                <td>#SO-13487</td>
                                <td>Holzstuhl</td>
                                <td>Bau ich GmbH</td>                                 
                                <td>10€/hr</td>
                                <td>Max Mustermann
                                Musterstraße 1
                                12345 Stadt
                                Deutschland
                                Email</td>
                                <td>01.01.2022</td>
                                <td><span class="btn btn-danger">Noch nicht bearbeitet</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<img src="" width="200" class="ml-lg-5 order-1 order-lg-2">-->
