<!-- find better colors -->
<div class="container bg-dark">
    <div class="row">
        <!-- left column of cards-->
        <div class="col-lg-8 align-self-center">
            <!-- product info-->
            <p class="text-ligth">Ihre Bestellung:</p>
            <div class="card mb-4 bg-secondary">
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody> 
                            
                            <tr> 
                                <td> <!-- column in the table -->
                                    <div class="d-flex mb-2">
                                        <div class="flex-shrink-0">
                                            <!-- product thumbnail --> <img src="https://user-images.githubusercontent.com/101482/29592647-40da86ca-875a-11e7-8bc3-941700b0a323.png" alt="" width="100" class="img-fluid">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex-lg-grow1 ms3">
                                        <!-- product information -->
                                        <h6 class="small mb-0 text-white">{{product?.name}}</h6>
                                        <span class="small text-white">{{product?.user}}</span>
                                    </div>
                                </td>
                                <td>
                                    <!-- Zeitslot -->
                                    <div class="text-white">{{ appointment?.date }}</div> <!-- should be only one appointment here-->
                                </td>
                                <td>
                                    <!-- Preis -->
                                    <div class="text-white">{{product?.prize}} € / hr</div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- customer info and order button -->
            <p class="text-ligth">Bestellung abschließen:</p>
            <div class="card mb-4 bg-secondary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="text-white">{{user?.firstName}} {{user?.lastName}}</div>
                            <div class="text-white">{{user?.address?.street}} {{user?.address?.houseNum}}, {{user?.address?.city}}</div>
                            <div class="text-white">{{user?.email}}</div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary btn-lg">Zahlungspflichtig Bestellen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!--
            <p class="text-ligth">Weitere Informationen:</p>
            <div class="card mb-4 bg-secondary">
                <div class="text-black"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Id diam vel quam elementum pulvinar etiam non quam lacus.
                </div>
            </div>
            -->
            <p class="text-ligth">Bestellung ändern:</p>
            <div class="card mb-4 bg-secondary">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <a routerLink="../../"> 
                            <button type="button" class="btn btn-primary btn-lg" (click)="cancel()">Zurück zum Produkt</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
