<!-- find better colors -->
<div class="container bg-dark">
  <div class="row">
    <!-- left column of cards-->
    <div class="col-lg-8 align-self-center">
      <!-- product info-->
      <p class="text-ligth">Ihre Bestellung:</p>
      <div class="card mb-4 bg-dark border-secondary">
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>

            <tr>
              <td> <!-- column in the table -->
                <div class="d-flex mb-2">
                  <div class="flex-shrink-0">
                    <!-- product thumbnail --> <img alt="" class="img-fluid" src="api/img/{{product?.image_id}}"
                                                    width="100">
                  </div>
                </div>
              </td>
              <td>
                <div class="flex-lg-grow1 ms3">
                  <!-- product information -->
                  <h6 class="small mb-0 text-white">{{product?.name}}</h6>
                  <span class="small text-white">{{product?.user?.firstName}} {{product?.user?.lastName}}</span>
                </div>
              </td>
              <td>
                <!-- Zeitslot -->
                <div class="text-white">{{ getAppointString() }}</div> <!-- should be only one appointment here-->
              </td>
              <td>
                <!-- Preis -->
                <div class="text-white">{{product?.prize}} €/std.</div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <!-- customer info and order button -->
      <p class="text-ligth ">Bestellung abschließen:</p>
      <div class="card mb-4 bg-dark border-secondary text">
        <div class="card-body text-white">
          <div class="row">
            <div class="col-lg-6">
                            <span>
                              {{user?.firstName}} {{user?.lastName}} <br>
                              {{user?.address?.street}} {{user?.address?.houseNum}},<br>
                              {{user?.address?.postCode}} {{user?.address?.city}},<br>
                              {{user?.address?.country}}
                            </span>
              <div class="text-white">{{user?.email}}</div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="row mt-2 justify-content-center">

                  <!-- <button class="btn btn-primary btn-lg" type="button">Zahlungspflichtig Bestellen</button>-->

                  <button class="col ms-2 me-2 btn btn-primary" data-bs-toggle="modal" (click)="this.switchPaymentType(PaymentType.HCIPAL)" data-bs-target="#exampleModal">
                    <img src="../../../assets/hciPal.png" class="img-fluid" />
                  </button>

                  <button class="col me-2 btn btn-primary" (click)="this.switchPaymentType(PaymentType.SWPSAFE)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="../../../assets/swpsafe.png" class="img-fluid" />
                  </button>
                  <button class="col me-2 btn btn-primary"  (click)="this.switchPaymentType(PaymentType.BACHELORCARD)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="../../../assets/bachelorcard.png" class="img-fluid"/>
                  </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <p class="text-ligth">Bestellung ändern:</p>
      <div class="card mb-4 bg-dark border-secondary">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <a routerLink="../../">
              <button class="btn btn-primary btn-lg" type="button">Zurück zum Produkt</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade text-black" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<h5 class="modal-title" id="exampleModalLabel"></h5>-->
        <img *ngIf="paymentType === PaymentType.BACHELORCARD" src="../../../assets/bachelorcard.png" width="100">
        <img *ngIf="paymentType === PaymentType.HCIPAL" src="../../../assets/hciPal.png" width="100">
        <img *ngIf="paymentType === PaymentType.SWPSAFE" src="../../../assets/swpsafe.png" width="100">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="accountForm"  class="form-group">
        <input type="email" class="form-control"  formControlName="account" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-Mail angeben." [readonly]="bestaetigt">
        <input *ngIf="bestaetigt" class="form-control" type="password" formControlName="password"  id="passwordInput1" aria-describedby="emailHelp" placeholder="E-Mail angeben.">
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <button type="button" (click)="this.switchBest()" class="btn btn-success">Bestätigen</button>
      </div>
    </div>
  </div>
</div>






