<div role="button" tabindex="0" (click)="onClick()" routerLink="/productdetails/{{productInfo._id}}">
  <div class="row">
    <!--Image -->
    <div class="col-3 p-2 m-auto">
      <img class="img-fluid col rounded"  src="api/img/{{productInfo.image_id}}">
    </div>
    <!-- Infos -->
    <div  class="col-9 p-2">
      <h6 class="text-primary text-end">{{productInfo?.prize}} €/std.</h6>
      <div class="d-flex w-100 justify-content-between">
        <h4> {{productInfo?.name}}</h4>
      </div>
      <p class="text-secondary">{{productInfo?.user?.firstName}} {{productInfo?.user?.lastName}}</p>

      <app-category-badge [category]="productInfo?.category"></app-category-badge>
    </div>
  </div>
</div>
