

<div class="container justify-content-center">
<div class="card bg-dark border-secondary mx-auto col-lg-8">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Anmelden</h4>
	<form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" class="needs-validation">
    <div class="mb-3 input-group has-validation" >
		    <span class="input-group-text" id="basic-addon1"> <i class="bi bi-envelope-fill"></i> </span>
        <input name="" class="form-control" [ngClass]="getClasses('email')" placeholder="Email-Addresse" formControlName="email" type="email" required>
        <div class="valid-feedback was-validated">Gültige Emailadresse.</div>
      <div class="invalid-feedback was-validated">{{getTexts('email')}}</div>
    </div>
    <div class="mb-3 input-group has-validation">
		    <span class="input-group-text" id="basic-addon1"> <i class="bi bi-lock-fill"></i> </span>
        <input class="form-control" [ngClass]="getClasses('password')" placeholder="Passwort bestätigen" formControlName="password" type="password" required>
        <div class="valid-feedback was-validated">Passwort eingegeben.</div>
        <div class="invalid-feedback was-validated">{{getTexts('password')}}</div>
    </div>
    <div class="d-grid" >
        <button type="submit" class="btn btn-primary btn-block">Anmelden</button>
    </div>
   <p class="text-center">Noch kein Konto?<a routerLink="/register">Jetzt registrieren</a> </p>
</form>
</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->

