<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center text-dark">Anmelden</h4>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="needs-validation">
        <div [class.was-validated]="loginForm.controls['email'].touched" class="mb-3 input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-envelope-fill"></i> </span>
          <input class="form-control" formControlName="email" name="" placeholder="Email-Addresse" required
                 type="email">
          <div *ngIf="loginForm.controls['email']?.invalid" class="valid-feedback was-validated">Gültige Emailadresse.
          </div>
          <div *ngIf="loginForm.controls['email']?.invalid" class="invalid-feedback was-validated">Bitte eine gültige
            Emailadresse angeben.
          </div>
        </div>
        <div [class.was-validated]="loginForm.controls['password'].touched" class="mb-3 input-group has-validation">
          <span class="input-group-text" id="basic-addon1"> <i class="bi bi-lock-fill"></i> </span>
          <input class="form-control" formControlName="password" placeholder="Passwort bestätigen" required
                 type="password">
          <div *ngIf="loginForm.controls['email']?.invalid" class="valid-feedback was-validated">Passwort eingegeben.
          </div>
          <div *ngIf="loginForm.controls['email']?.invalid" class="invalid-feedback was-validated">Bitte Passwort
            eingeben.
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary btn-block" type="submit">Anmelden</button>
        </div>
        <p class="text-center text-dark">Noch kein Konto?<a routerLink="/register">Jetzt registrieren</a></p>
      </form>
    </article>
  </div> <!-- card.// -->

</div>
<!--container end.//-->

