

<div class="container mt-2 p-4 justify-content-center">
<div class="bg-dark mx-auto col-lg-8">
<article class="mx-auto" style="max-width: 400px;">
	<h4 class="mt-3 text-center">Anmelden</h4>
	<form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" class="needs-validation">
    <div class="mb-3 input-group has-validation" [class.was-validated]="loginForm.controls['email'].touched">
		    <span class="input-group-text" id="basic-addon1"> <i class="bi bi-envelope-fill"></i> </span>
        <input class="form-control" [class]="getClasses('email')" placeholder="Email-Addresse" formControlName="email" type="email" required>
        <div *ngIf="isValid('email')" class="valid-feedback was-validated">Gültige Emailadresse.</div>
        <div *ngIf="!isValid('email')" class="invalid-feedback was-validated">{{getTexts('email')}}</div>
    </div>
    <div class="mb-3 input-group has-validation" [class.was-validated]="loginForm.controls['password'].touched">
		    <span class="input-group-text" id="basic-addon1"> <i class="bi bi-lock-fill"></i> </span>
        <input class="form-control" [class]="getClasses('password')" placeholder="Passwort bestätigen" formControlName="password" type="password" required>
        <div *ngIf="isValid('password')" class="valid-feedback was-validated">Passwort eingegeben.</div>
        <div *ngIf="!isValid('password')" class="invalid-feedback was-validated">{{getTexts('password')}}</div>
    </div>
    <div class="d-grid" >
        <button type="submit" class="btn btn-primary btn-block">Anmelden</button>
    </div>
   <p class="text-center">Noch kein Konto?<a routerLink="/register">Jetzt registrieren</a> </p>
</form>
</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->

