<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="list-group shadow">
                <!--Produkt 1-->
                <li *ngFor="let productInfo of productListInfo.list" class="list-group-item">
                    <div [routerLink]="['productdetails',productInfo._id]" class="media align-items-lg-center flex-column flex-lg-row p-3">
                      <div class="media-body order-2 order-lg-1">
                            <h5> <a routerLink="productdetails,productInfo._id">{{productInfo?.name}}</a></h5>
                            <p>{{productInfo?.user}}</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{productInfo?.prize}}</h6>
                            </div>
                        </div>
                        <!--<img src="" width="200" class="ml-lg-5 order-1 order-lg-2">-->
                    </div>
                </li>
                <!--Ende Produkt 1-->
            </ul>
        </div>
    </div>
    <!-- Knöpfe um mehr Elemente and zeigen zu können -->
    <nav aria-label="Search results pages">
      <ul class="pagination pagination-dark  justify-content-center m-4">
      <li class="page-item" [class.disabled]="!(currentStart > 0)">
        <a class="page-link"  (click)="previous()">&laquo;</a>
      </li>
      <li class="page-item" [class.disabled]="!(productListInfo.requestable>0)" >
        <a class="page-link" (click)="next()">&raquo;</a>
      </li>
    </ul>
    </nav>
</div>

