<div>
    <h2>Startseite</h2>

    <p class>
        Test Seite um zu testen wie sich Bootstrap verhält
    </p>

    <!--Test bootstrap styling-->
    <div *ngFor="let i of list">

        <h5 class="mt-4">
            Überschrift {{i}}
        </h5>
        <p class="mt-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Id diam vel quam elementum pulvinar etiam non quam lacus.
            Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet.
            Tristique senectus et netus et malesuada fames ac turpis egestas.
            Nisi lacus sed viverra tellus in hac habitasse. Dignissim convallis aenean et tortor at risus viverra adipiscing at.
            Amet aliquam id diam maecenas ultricies mi eget. Sed blandit libero volutpat sed cras ornare.
            Varius duis at consectetur lorem donec massa sapien. Elit sed vulputate mi sit amet mauris commodo quis imperdiet.
            Sed blandit libero volutpat sed.
            Quis risus sed vulputate odio ut enim blandit volutpat.
            Dolor sit amet consectetur adipiscing elit pellentesque.
        </p>
    </div>
</div>

