<div class="container mt-2 p-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
          <app-product-list *ngIf="!loading" [list]="productListInfo.list"></app-product-list>

          <div *ngIf="loading" class="d-flex align-items-center text-secondary">
            <strong>Lädt...</strong>
            <div aria-hidden="true" class="spinner-border spinner-secondary ms-auto" role="status"></div>
          </div>

          <div *ngIf="!loading && productListInfo?.list?.length === 0" class="d-flex align-items-center">
            <div class="w-100 text-center">Es konnten hierzu keine Dienstleistungen gefunden werden</div>
          </div>
        </div>
    </div>




  <!-- Paggination only show if there are more elements than 10 -->
  <div *ngIf="productListInfo && productListInfo.list &&  currentStart + productListInfo.list.length <= currentLimit && productListInfo.requestable === 0" class="btn-toolbar justify-content-center mt-4">
    <div class="btn-group" role="group">
      <button (click)="previous()" [class.disabled]="!(currentStart > 0)" class=" btn btn-primary" type="button">
        &laquo;
      </button>
      <button (click)="next()" [class.disabled]="!(productListInfo.requestable>0)" class="btn btn-primary"
              type="button">&raquo;
      </button>
    </div>
  </div>

</div>

