<h2>Bestellhistorie</h2>
<div>
    <div class="container mt-5 p-4">
                <div class="table-responsive-lg">
                  <table class="table align-middle table-dark">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th scope="col">Bestell #</th>
                                    <th scope="col">Produktname</th>
                                    <th scope="col">Company name</th>
                                    <th scope="col">Preis</th>
                                    <th scope="col">Bestelldatum</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr *ngFor="let elem of orderList">
                                    <td class="text-center"></td>
                                    <td>{{elem._id}}</td>
                                    <td>{{elem.product?.name}} </td> <!--{{elem.product?.name}}-->
                                    <td>{{elem.product?.user}} </td> <!--{{elem.product?.user}}-->
                                    <td>{{elem.product?.prize}}</td> <!--{{elem.product?.prize}}-->
                                    <td>{{elem.timeOfOrder}} </td> <!--{{elem.order.timeOfOrder}}-->
                                    <div *ngIf="elem.confirmed; else elseBlock">
                                        <td> <span class="p-2 mb-2 bg-success">Bestätigt</span> </td>
                                    </div>
                                    <ng-template #elseBlock>
                                        <td> <span class="p-2 mb-2 bg-warning text-nowrap">Nicht bestätigt</span> </td>
                                    </ng-template>
                                </tr>
                            </tbody>
                    </table>
                </div>
      </div>
</div>
