.container {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links > a {
    color: black;
}

.routing-box {
    border: 1px solid black;
}
