<footer class="bg-black text-center text-white">

  <div class="container p-4">
    <section class="mb-4">
      <!-- Gitlab Project link-->
      <a class="text-decoration-none text-white"
         href="https://gitlab.inf.uni-konstanz.de/ag-hci/lectures/2022-software-projekt/swp-2022-gruppe-01"
         role="button">
        Gitlab <i class="bi bi-git text-white"></i>
      </a>
    </section>
  </div>

  <div class="text-center fw-bold p-3">
    Erstellt von
    <!-- Links to Gitlab pages of Contributors -->
    <a class='text-primary text-decoration-none' href="https://gitlab.inf.uni-konstanz.de/cedric.wiese">@Cedric</a>,
    <a class='text-primary text-decoration-none' href="https://gitlab.inf.uni-konstanz.de/jakob.sanowski">@Jakob </a>,
    <a class='text-primary text-decoration-none' href="https://gitlab.inf.uni-konstanz.de/sophie.unterfranz">@Sophie</a>,
    <a class='text-primary text-decoration-none' href="https://gitlab.inf.uni-konstanz.de/lukas.erne">@Lukas </a> und
    <a class='text-primary text-decoration-none' href="https://gitlab.inf.uni-konstanz.de/henri.grotzeck">@Henri </a>
  </div>



</footer>
<!-- Footer -->
