<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/assets/profilePictureTemplate.jpg" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">

                        <form class="row mb-3">
                            <div class="col-auto">
                              <label for="staticEmail2" class="visually-hidden">Email</label>
                              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="E-Mailadresse:">
                            </div>
                            <div class="col-auto">
                              <input type="text" readonly class="form-control-plaintext" value="E-Mail">
                            </div>
                          </form>

                          <form class="row mb-3">
                            <div class="col-auto">
                              <label for="staticEmail2" class="visually-hidden">Vorname</label>
                              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Vorname:">
                            </div>
                            <div class="col-auto">
                              <input *ngIf="editMode == false" type="text" readonly class="form-control-plaintext" value="Vorname">
                              <input *ngIf="editMode == true" type="text" class="form-control" value="Vorname">
                            </div>
                          </form>

                          <form class="row mb-3">
                            <div class="col-auto">
                              <label for="staticEmail2" class="visually-hidden">Nachname</label>
                              <input type="text" readonly class="form-control-plaintext" value="Nachname:">
                            </div>
                            <div class="col-auto">
                              <input *ngIf="editMode == false" type="text" readonly class="form-control-plaintext" value="Nachname">
                              <input *ngIf="editMode == true" type="text" class="form-control" value="Nachname">
                            </div>
                          </form>

                          <form class="row mb-3">
                            <div class="col-auto">
                              <input type="text" readonly class="form-control-plaintext" value="Strasse">
                            </div>
                            <div class="col-auto">
                              <input *ngIf="editMode == false" type="text" readonly class="form-control-plaintext" value="Strasse">
                              <input *ngIf="editMode == true" type="text" class="form-control" value="Strasse">
                            </div>
                          </form>

                          <form class="row mb-3">
                            <div class="col-auto">
                              <input type="text" readonly class="form-control-plaintext" value="Hausnummer:">
                            </div>
                            <div class="col-auto">
                              <input *ngIf="editMode == false" type="text" readonly class="form-control-plaintext" value="Hausnummer">
                              <input *ngIf="editMode == true" type="text" class="form-control" value="Hausnummer">
                            </div>
                          </form>

                          <form class="row mb-3">
                            <div class="col-auto">
                              <input type="text" readonly class="form-control-plaintext" value="Postleitzahl:">
                            </div>
                            <div class="col-auto">
                              <input *ngIf="editMode == false" type="text" readonly class="form-control-plaintext" value="Postleitzahl">
                              <input *ngIf="editMode == true" type="text" class="form-control" value="Postleitzahl">
                            </div>
                          </form>

                          <form class="row mb-3">
                            <div class="col-auto">
                              <input type="text" readonly class="form-control-plaintext" value="Stadt:">
                            </div>
                            <div class="col-auto">
                              <input *ngIf="editMode == false" type="text" readonly class="form-control-plaintext" value="Stadt">
                              <input *ngIf="editMode == true" type="text" class="form-control" value="Stadt">
                            </div>
                          </form>

                          <form *ngIf="editMode == true" class="row mb-3">
                            <div class="col-auto">
                              <label for="staticEmail2" class="visually-hidden">Pw1</label>
                              <input type="text" readonly class="form-control-plaintext" value="Aktuelles Passwort:">
                            </div>
                            <div class="col-auto">
                              <label for="inputPassword2" class="visually-hidden">Password</label>
                              <input type="password" class="form-control" placeholder="Aktuelles Passwort">
                            </div>
                          </form>

                          <form *ngIf="editMode == true" class="row mb-3">
                            <div class="col-auto">
                              <label for="staticEmail2" class="visually-hidden">Pw1</label>
                              <input type="text" readonly class="form-control-plaintext" value="Neues Passwort:">
                            </div>
                            <div class="col-auto">
                              <label for="inputPassword2" class="visually-hidden">Password bestätigen</label>
                              <input type="password" class="form-control" placeholder="Neues Password">
                            </div>
                          </form>

                          <form *ngIf="editMode == true" class="row mb-3">
                            <div class="col-auto">
                              <label for="staticEmail2" class="visually-hidden">Pw1</label>
                              <input type="text" readonly class="form-control-plaintext" value="Neues Passwort bestätigen:">
                            </div>
                            <div class="col-auto">
                              <label for="inputPassword2" class="visually-hidden">Password bestätigen</label>
                              <input type="password" class="form-control" placeholder="Neues Password bestätigen">
                            </div>
                          </form>

                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input *ngIf="editMode == false" (click)="activeEditMode()" type="button"  class="btn btn-primary px-4" value="Persönliche Daten bearbeiten">
                                <input *ngIf="editMode == true" (click)="activeEditMode()" type="button" class="btn btn-primary px-4" value="Änderungen speichern">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>